#hbox-contacto {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #D9BA82; 
    -fx-border-width: 0 0 1 0; 
    -fx-padding: 5; 
}

.button{
    -fx-border-color:   #0D0D0D;     
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
}

#boton{
    -fx-border-color:   #0D0D0D;     
    -fx-font-family: Monospaced;
    -fx-background-color:   #D9BA82;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

*{    
    -fx-font-family: Monospaced;
}

#AnchorPane{
    -fx-background-color: #595659;
}

.choice-box {
    -fx-background-color: #FFFFFF; 
    -fx-text-fill: #595659;
    -fx-border-color: #D9BA82;
}

#titulo{
    -fx-font-size: 36px;
    -fx-text-fill: #d9ba82;
    -fx-font-weight: bold;
}

#labelAdmin{
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}