.menu-bar {
    -fx-background-color: #D9BA82; 
    -fx-text-fill: #595659;
    -fx-border-width: 0 0 1 0;
}

.menu-item {
    -fx-text-fill: #595659; 
    -fx-background-color: #D9BA82; 
    
}


.grid-pane {
    -fx-background-color: #F2F2F2; 
}

.label, .text-field, .button, .combo-box {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #595659; 
    -fx-border-color: #D9BA82;
}


.button#btnAnterior, .button#btnSiguiente {
    -fx-background-color: #D9BA82; 
    -fx-text-fill: #595659; 
}

.radio-button {
    -fx-text-fill: #595659; 
}

.button#btnLimpiar {
    -fx-background-color: #595659; 
    -fx-text-fill: #FFFFFF; 
}

.menu-item:pressed {
    -fx-background-color: #BF9B6F;
}

/* Estilo para la sección de filtros de búsqueda */
.grid-pane {
    -fx-background-color: #FFFFFF; /* Color de fondo */
    -fx-border-color: #D9BA82; /* Color del borde */
    -fx-border-width: 0 0 1 0; /* Añade un borde en la parte inferior */
}
