/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 4, 2023, 11:25:00 PM
    Author     : johan
*/

.button{
    -fx-font-family: Monospaced;
}

#AnchorPane{
    -fx-background-color: #008B8B;
}

.label{
    -fx-font-style: italic;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

#tittleLabel {
    -fx-font-style: normal; 
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
}