/*
 * Empty Stylesheet file.
 */
#hbox-contacto {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #D9BA82; 
    -fx-border-width: 0 0 1 0; 
    -fx-padding: 5; 
}

.button{         
    -fx-font-family: Monospaced;
}

#boton{
    -fx-border-color:   #0D0D0D;     
    -fx-font-family: Monospaced;
    -fx-background-color:  #595659;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

*{    
    -fx-font-family: Monospaced;
}

#AnchorPane{
    -fx-background-color: #595659;
}

.menu-bar {
    -fx-background-color: #D9BA82; 
    -fx-text-fill: #595659; 
}
 
.menu-item {
    -fx-text-fill: #595659; 
}

.grid-pane {
    -fx-background-color: #F2F2F2; 
}

.text-field,
.combo-box {
    -fx-background-color: #FFFFFF; 
    -fx-text-fill: #595659;
    -fx-border-color: #D9BA82;
}

#vbFiltro{
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;      
}

#btnFlecha {
    -fx-background-color: #D9BA82;
    -fx-text-fill: #593F1E;
    -fx-background-radius: 50%;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#etiquetaNumero{
    -fx-font-style: italic;
    -fx-font-size: 11px;
}

#btnEliminar {
    -fx-background-color: transparent;  
    
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-pref-width: 50px;
    -fx-border-color:   #595659;     
}

#btnEditarMostrar {
    -fx-background-color: transparent;    
    -fx-padding: 5; 
    -fx-background-insets: 0;
    -fx-background-radius: 0; 
}

#lblNombre{
    -fx-font-weight: bold;
    -fx-font-style: bold;
    -fx-font-size: 13px;
}

#filtros{
    -fx-background-color: #593F1E;
}